* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: black; */
}

.main {
    width: 1000px;
    border: 1px solid black;
    margin: auto;
}

.slick-arrow{
    background-color: red;
    border-radius: 50%;
}

.slick-dots li{
    background-color: blue;
    border-radius: 50%;
}

.slick-active{
    background-color: red !important;
}