@media (min-width:991px) {
    .top-header {
        display: flex;
    }

    .navMenu {
        position: static;
        flex-direction: row;
        background-color: inherit;
        width: inherit;
        height: inherit;
        padding-left: inherit;
        padding-top: inherit;
        color: black;
    }

    .mobileMenu{
       display: none;
    }

}