* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
}

.main {
    width: 1170px;
    height: 1000px;
    border: 1px solid red;
    margin: auto;
}

/* top header css start  */
.top-header {
    width: 100%;
    height: 40px;
    background-color: #343130;
}

.top-contact {
    width: 21%;
    height: 100%;
    float: left;
}

.contact-img {
    float: left;
    padding-top: 7px;
    margin: 0px 15px;
}

.contact-text {
    float: left;
    padding-top: 7px;
    color: white;
}

/* top header css end  */

/* main header css start  */

.main-header {
    width: 100%;
    height: 140px;
    background-color: white;
}

.logo {
    width: 20%;
    height: 100%;
    float: left;
}

.logo-img {
    width: 160px;
    margin-top: 5px;
    margin-left: 30px;
}

.menu {
    float: right;
}

.menu-item {
    float: left;
    margin: 0px 35px;
    margin-top: 100px;
    font-weight: bold;
}


/* main header css end */